<div class="left-bar">
    <h2>Fuat Agalday</h2>
    <hr>
    <br>
    <ul>
          <a href="/admin/index">
        <li> <i class="bi bi-browser-chrome"></i> Ana Sayfa</li></a>
        <hr>
        <a href="/admin/urun">
        <li><i class="bi bi-bag-check-fill"></i>  Ürünler</li></a>
        <hr>
         <a href="/admin/haber">
        <li><i class="bi bi-newspaper"></i>  Haberler</li></a>
        <hr>
        <a href="/admin/hakkimizda">
        <li><i class="bi bi-person-vcard"></i>  Hakkımızda</li></a>
        <hr>
        <a href="/admin/iletisim">
        <li><i class="bi bi-chat-right-dots-fill"></i>  İletişim</li></a>
        <hr>
        <li><i class="bi bi-gear-fill"></i>  Ayarlar</li>
        <hr>
     
        <a href="/admin">
        <li><i class="bi bi-box-arrow-left"></i>  Çıkış Yap</li></a>
    </ul>
</div>