<div class="index-img">

    <div id="carouselExampleSlidesOnly" class="caru-control carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h1>TÜRKİYE DEPREM ERKEN UYARI SİSTEMLERİ</h1>
                <p>Yapay Zeka İle Güçlendirilmiş Deprem Öncesi Uyarı LGA Sistemle Güvenli Bir Gelecek İnşa Edin!</p>
            </div>
            <div class="carousel-item">
                <h1>Marmara Bölgesi'nde Güvenle Geleceğe Adım</h1>
                <p>Depremleri Anlık Takip Edin, Hayatları Kurtarın - LGA Sistem Her An Hazır Durumda!</p>
            </div>
            <div class="carousel-item">
                <h1>Güçlü İstasyonlar, Akıllı Çözümler - LGA Sistemle Depremlere Karşı İleri Adımlar Atın!</h1>
                <p>İleri Teknolojiyle Deprem Algılama - LGA Sistem, Marmara Bölgesi'nde Her Zaman Yanınızda!</p>
            </div>
        </div>
    </div>

</div>
<br>