{{>site-nav}}
{{>index-img}}


<div class="container">
    <div class="row">
         
     <div class="warning-info-top col-md-12 col-lg-5 d-md-block d-lg-none"><img src="/img/orta.png" alt=""></div>
        <div class="warning-info-text  col-md-12 col-lg-7">
            <h1>Hazır mısın?</h1>
            <p>Kaliforniya'da her an deprem olabilir. Kritik altyapı alanında faaliyet gösteren işletmelerin yanı sıra Golden State'te yaşayan veya burayı ziyaret eden bireyler ve aileler, hazırlık çabalarının bir parçası olarak erken deprem uyarı teknolojisi ve deprem uyarılarını kullanmak da dahil olmak üzere, bir deprem meydana geldiğinde tepki vermek ve hızlı bir şekilde müdahale etmek için uygun şekilde hazırlanmalıdır. . Bilgi Sayfalarımız, işletmeler ve bölge sakinleri için önemli bilgiler ve tavsiyeler içerir ve her Araç Kiti, haberin yayılmasına yardımcı olmak için kullanabileceğiniz kaynaklar içerir.</p>
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, laudantium id veniam accusantium perspiciatis in cupiditate distinctio aperiam blanditiis facere.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus dolorem totam, amet doloremque quibusdam quis fuga recusandae quae id at!</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure porro maiores iusto similique autem omnis. Aliquam esse assumenda quaerat dignissimos.</li>
            </ul>
            

        </div>
      <div class="warning-info-top col-md-12 col-lg-5 d-none d-md-none d-lg-block"><img src="/img/orta.png" alt=""></div>

    </div>
</div>

<br><br>

<div class="container">
    <div class="sacma">
        <div class="ico">
            <img src="https://earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-education-300x300.png" alt="">
            <h3>K–12 Eğitimi</h3>
            <p>ARAC SETİ VE KAYNAKLAR</p>
        </div>
        <div class="ico"><img src="https://earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-higher-education.png" alt="">
         <h3>Yüksek öğretim</h3>
            <p>ARAC SETİ VE<b style="color: transparent;">.</b>KAYNAKLAR</p>
        </div>
        <div class="ico"><img src="https://earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-business.png" alt="">
          <h3>Işletme</h3>
            <p>ARAC SETİ VE KAYNAKLAR</p>
        </div>
        <div class="ico"><img src="https://earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-medical.png" alt="">
          <h3>Tıbbi</h3>
            <p>ARAC SETİ VE KAYNAKLAR</p></div>
        <div class="ico"><img src="https://earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-transportation.png" alt="">
          <h3>Toplu taşıma</h3>
            <p>ARAC SETİ VE KAYNAKLAR</p></div>
        <div class="ico"><img src="https://earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-utilities.png" alt="">
          <h3>Araçlar</h3>
            <p>ARAC SETİ VE KAYNAKLAR</p></div>
        <div class="ico"><img src="https://earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-first-responder.png" alt="">
          <h3>İlk cevaplayan</h3>
            <p>ARAC SETİ VE KAYNAKLAR</p></div>
        <div class="ico"><img src="https://earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-telecom.png" alt="">
          <h3>Telekomünikasyon</h3>
            <p>ARAC SETİ VE KAYNAKLAR</p></div>
    </div>
</div>

<div class="arkaRenk">
    <div class="yamul container">
        <div>
        <div class="Pdfff">
            <img src="/img/pdfArka.jpg" alt="">
        </div>
        <p>DEPREM KORUYUCU EYLEM KARPOSTALI</p>
        </div>
        <div>
        <div class="Pdfff">
            <img src="/img/pdfArka.jpg" alt="">

        </div>
        <p>YEDİ ADIMDA DEPREM GÜVENLİĞİ</p>
        </div>
        <div>
        <div class="Pdfff">
            <img src="/img/pdfArka.jpg" alt="">

        </div>
        <p>EV SAHİBİNİN DEPREM GÜVENLİĞİ REHPERİ </p>
        </div>
    </div>
</div>
<br><br>
<div class="referansPdf container">
    <h3>EK EĞİTİM PAKETLERİ</h3>
    <p>Aşağıda, deprem ve diğer afetlere hazırlık için değerli bilgiler, eğitim ve kaynaklar sağlayan ortaklara ve kuruluşlara bağlantılar bulunmaktadır.</p>
    <div class="yamulbe">
        <div><img src="/img/kızılay.png" alt=""></div>
        <div><img src="/img/kandilli.png" alt=""></div>
        <div><img src="/img/afad.jpg" alt=""></div>
        <div><img src="/img/dohad.jpg" alt=""></div>
    </div>
</div>

<br><br><br><br>
{{>site-footer}}