{{> site-nav }}




 <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0" style="text-align: center;">
                <div class="bg-image hover-zoom ripple rounded ripple-surface" style="text-align: center;">
                  <img src="img/lga-logo-black.png"
                     style="height: 200px; max-width: 250px;  display: inline-block; margin: auto;"  />
                  <a href="#!">
                    
                  </a>
                </div>
              </div>
              <div class="col-md-9 col-lg-9 col-xl-9" style="padding:0 20px ;">
                <h5>NİKSAR BELEDİYESİ</h5>
              
                <div class="mt-1 mb-0 text-muted small">
                   <span class="text-primary"> • Tel No:</span>
                  <span>0541 728 1588</span>
                 
                
                </div>
               
                <p class=" mb-4 mb-md-0" >
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus culpa pariatur ducimus quasi, voluptates nihil animi rem adipisci nobis a libero tempora vitae soluta consectetur veniam aliquid odio accusantium non temporibus blanditiis unde aperiam nemo!
                </p>
                 <button class="btn btn-primary btn-sm mt-4" type="button">Bilgi Al</button>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
 

  </div>
</section>








{{> site-footer }}

