

<div class="topBox">
    <div class="sayac container">
      <div class="container">
      <p id="topInfo">Lütfen yaşadığınız bölgeyi işaretleyin ve deprem olma olasılığı en yüksek olan yerlerden birini
        seçin seçilen bölge kırmızı olaçaktır daha sonra başlata tıklayın</p>
      <span id="say">....</span>
    </div>
</div>
  </div>
<div id="harita">

</div>




<div class="btn-box">
  <button id="durulan">DURDUR</button>
<button id="baslaulan">BAŞLAT</button>
<button id="baslat">BAŞLAT</button>
<button id="yenile">TEKRAR DENE</button>
</div>
<br><br>
<div class="container">
  <h2 class="p-3">DEMODA GERÇEKLEŞEN SENARYO</h2>
  <ul>
    <li>Saniyede 5-9km hızla yükselen kırmızı p dalgasını yani önçü işareti istasyonlar algıladığı zaman sayaç başlar ve
      alarm gönderilir</li>
    <li>Arkasından 3-5km hızla yükselen s dalgası yıkıcı dalga yaşadığınız bölgeye gelene kadar sayac saymaya devam eder
      ve çıkan sonuç erken uyarını seçtiğiniz deprem bölgesinde bir deprem olma durumunda depremden ortalama kaç saniye
      önce uyarılaçağınızı belirler </li>
    <li>Tekrar denemek için lütfen haritayı sıfırlayın</li>

  </ul>
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{{!-- leaflet.js harita kütüphane --}}
<script src="/js/similasyon.js"></script>



 
