{{#if sessionFlash.message}}
<div class="{{sessionFlash.type}}">{{sessionFlash.message}}</div>
{{/if}}
<div class="registerSayfa">

  <form class="form-signin" action="/users/register" method="POST">
    <img class="mb-4" src="/img/lga-logo-black.png" alt="" width="82" height="82">
    <h1 class="h3 mb-3 font-weight-normal">Lütfen Kayıt Ol</h1>

    <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Ad" required="" autofocus="">
    <br>

    <input type="text" id="inputEmail" name="surname" class="form-control" placeholder="Soyad" required="" autofocus="">
    <br>

    <input type="text" id="inputEmail" name="gsm" class="form-control" placeholder="GSM" required="" autofocus="">
    <br>

    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <br>

    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Kayıt Ol</button>
    <br> 
    <br>
    <p style="text-align: center;" class="small mb-3 pb-lg-2">Hesabınız Varmı? <a style=" font-weight: 700;"
        class="text-primary " href="/users/login">Giriş Yap</a></p>
  </form>

</div>