{{>site-nav}}

{{>index-img}}

<div class="container">
    <div class="row">
          

     <div class="warning-info-top col-md-12 col-lg-5 d-md-block d-lg-none"><img src="https://i0.wp.com/earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-get-alerts.png?w=500&ssl=1" alt=""></div>
        <div class="warning-info-text  col-md-12 col-lg-7">
            <h1>UYARI TÜRLERİ NELERDİR</h1>
            <p>ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae sunt ad laboriosam nisi animi incidunt rerum doloremque, nobis aut dolorum saepe repellat ipsum praesentium nostrum ut sint itaque inventore enim vitae dolore. Tenetur corporis nobis quasi, explicabo ipsum rerum!</p>
<ul>
    <li><b>Cihaz uyarı</b> ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae sunt ad laboriosam nisi animi incidunt rerum doloremque, nobis aut dolorum saepe repellat ipsum praesentium nostrum ut sint itaque inventore enim vitae dolore. Tenetur corporis nobis quasi, explicabo ipsum rerum!</li>
    <li><b>Şİrket uyarı</b> ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae sunt ad laboriosam nisi animi incidunt rerum doloremque, nobis aut dolorum saepe repellat ipsum praesentium nostrum ut sint itaque inventore enim vitae dolore. Tenetur corporis nobis quasi, explicabo ipsum rerum!</li>
    <li><b>Şİrket uyarı</b> ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae sunt ad laboriosam nisi animi incidunt rerum doloremque, nobis aut dolorum saepe repellat ipsum praesentium nostrum ut sint itaque inventore enim vitae dolore. Tenetur corporis nobis quasi, explicabo ipsum rerum!</li>
</ul>
        </div>
      <div class="warning-info-top col-md-12 col-lg-5 d-none d-md-none d-lg-block"><img src="https://i0.wp.com/earthquake.ca.gov/wp-content/uploads/sites/8/2020/09/icon-get-alerts.png?w=500&ssl=1" alt=""></div>

    </div>
</div>

<div class="container">
    <div class="row">
          

     <div class="warning-fay-top col-md-12 col-lg-6 "><img src="../img/lga-fayhatti-haritasi.jpg" alt=""></div>

        <div class="warning-fay-text  col-md-12 col-lg-6">
            <h1>UYARI ANALİZ MERKEZLERİ</h1>
            <p>ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae sunt ad laboriosam nisi animi incidunt rerum doloremque, nobis aut dolorum saepe repellat ipsum praesentium nostrum ut psum rerum!</p>
<ul>
    <li><b>Cihaz uyarı</b> ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae sunt ad laboriosam nisi animi incidusint itaque inventore enim vitae dolore. Tenetur corporis nobis quasi, explicabo ipsum rerum!</li>
    <li><b>Şİrket uyarı</b> ipsum dolor sit amet consectetur adipisicing elit. Possimus beatae sunt ad laboriosam nisi animi incidunt rerum doloremque, nobis aut dolorum saepe repellat ipsum praesentium nostipsum rerum!</li>
  
</ul>
        </div>
      

    </div>
</div>
<br><br><br>
<div class="container">
    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       Deprem Uyarısı Tam olarak Nedir
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Nasıl Kullanmaya Başlayacam
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Bu Sistemi Halngi Ülkeler Kullanıyor
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  




</div>
</div>
<br><br><br>
{{>site-footer}}